<div class="w-full">
  <div class="flex justify-between items-center mb-6">
    <%= link_to "New team" , new_team_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <%set_global_title("Team")%>

    <div id="teams" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <% @teams.each do |team| %>
        <%= link_to team_path(team), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" do %>
          <div class="bg-white rounded-xl border border-gray-200 p-4">
            <h2 class="font-bold text-xl mb-2">
              <%= team.name %>
            </h2>
            <p class="text-gray-600">
              <%= team.description %>
            </p>
          </div>
          <% end %>
            <% end %>

    </div>
</div>