<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-3xl font-bold mb-6">
    <!-- Add content here for the header -->
  </h1>
  <% set_global_title(@team.name) %>
    <%= render partial: "actions_section" %>
      <%= render partial: "task_display" %>
        <% if can? :create, Team %>
          <%= render partial: "add_member" %>
            <% end %>
              <%= render partial: "team_actions" %>
</div>