<!-- _navbar.html.erb -->
<nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-white font-bold">TaskManager</a>
        <span class="text-white">
            <%= get_global_title.upcase.gsub('_',' ') %>
        </span>
        <% if current_user %>
            <ul class="flex justify-end space-x-4 ">
                <li>
                    <span class="text-white">
                        <%= current_user.email %>
                    </span>
                </li>
                <li>
                    <%= link_to "Log Out" , logout_path, data: { turbo_method: "delete" }, class: "text-white" %>
                </li>
            </ul>
            <% end %>
    </div>
</nav>